<main id='about-page' class='main scroll'>
    <div class="logo">
        <img src='./res/logo/logo.png'/>
    </div>

    <div class="version-info">
        <h1 class="version-title">Acode editor</h1>
        <div class="version-number">Version {{version}} ({{versionCode}})</div>
    </div>

    <div class="info-section">
        {{#webview}}
        <a href="https://play.google.com/store/apps/details?id={{packageName}}" class="info-item">
            <div class="info-item-icon">
                <span class="icon googlechrome"></span>
            </div>
            <div class="info-item-text">
                Webview {{versionName}}
                <div class="info-item-subtext">{{packageName}}</div>
            </div>
        </a>
        {{/webview}}
        <a href="https://acode.app" class="info-item">
            <div class="info-item-icon">
                <span class="icon acode"></span>
            </div>
            <div class="info-item-text">Official webpage</div>
        </a>
        <a href="https://foxbiz.io" class="info-item">
            <div class="info-item-icon">
                <span class='icon public'></span>
            </div>
            <div class="info-item-text">foxbiz.io</div>
        </a>
    </div>

    <div class="social-links">
        <a href="mailto:apps@foxdebug.com" class="social-link">
            <div class="social-icon">
                <span class="icon gmail"></span>
            </div>
            Mail
        </a>
        <a href="https://x.com/foxbiz_io" class="social-link">
            <div class="social-icon">
                <span class="icon twitter"></span>
            </div>
            Twitter
        </a>
        <a href="https://www.instagram.com/foxbiz.io/" class="social-link">
            <div class="social-icon">
                <span class="icon instagram"></span>
            </div>
            Instagram
        </a>
        <a href="https://github.com/Acode-Foundation/Acode" class="social-link">
            <div class="social-icon">
                <span class="icon github"></span>
            </div>
            GitHub
        </a>
        <a href="https://t.me/foxdebug_acode" class="social-link">
            <div class="social-icon">
                <span class="icon telegram"></span>
            </div>
            Telegram
        </a>
        <a href="https://discord.gg/nDqZsh7Rqz" class="social-link">
            <div class="social-icon">
                <span class="icon public"></span>
            </div>
            Discord
        </a>
    </div>
</main>
