<div id="file-info">
    <div class="file-header">
        <div class="file-name">
            <span class="name-part">{{name}}</span>
            <span class="file-extension">{{extension}}</span>
        </div>
    </div>

    <div class="info-grid">
      <div class="info-item">
        <span class="info-label">{{lang.size}}</span>
        <span class="info-value">{{length}}</span>
      </div>
      <div class="info-item">
        <span class="info-label">{{lang.type}}</span>
        <span class="info-value">{{type}}</span>
      </div>
      <div class="info-item">
        <span class="info-label">{{lang.last modified}}</span>
        <span class="info-value">{{lastModified}}</span>
      </div>
      {{#isEditor}}
      <div class="info-item">
        <span class="info-label">{{lang.line count}}</span>
        <span class="info-value">{{lineCount}}</span>
      </div>
      <div class="info-item">
        <span class="info-label">{{lang.word count}}</span>
        <span class="info-value">{{wordCount}}</span>
      </div>
      {{/isEditor}}
    </div>

    <div class="path-section">
      <div class="info-item">
        <span class="info-label">{{lang.path}}</span>
        <span class="info-value path-value" action="copy">{{showUri}}</span>
      </div>
    </div>
</div>
